<html>
<body>
<div style='width:960px; margin-left:auto; margin-right:auto;'>
<img src="../assets/images/header.png"/>
<center>
<table>
<tr align="center">
<td><a href="#"><img src="../assets/images/refeicoes.png" /></a></td>
<td><a href="#"><img src="../assets/images/exercicios.png" /></a></td>
</tr>
<tr align="center">
<td><a href="#"><img src="../assets/images/acompanhamento.png" /></a></td>
<td><a href="#"><img src="../assets/images/dados.png" /></a></td>
</tr>
</center>
</div>
</body>
</html>